#div2{
    padding-top: 20px;
    padding-bottom: 50px;
    display: grid;
    padding-left: 500px;
    padding-right: 150px;
    text-align: left;
}

#heading{
    display: grid;
    place-items: center;
}

#div1{
    display: grid;
    place-items: center;
    text-align: left;
}

#bottom{
    padding-top: 50px;
    display: grid;
    place-items: center;
}

.nav_buttons{
    padding: 10px;
    background-color: white;
    cursor: pointer;
    padding-left: 160px;
    padding-right: 160px;
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;
    margin: -5px;
    border: none;
}

.nav_buttons:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
}

img{

    height: 600px;
    width: 1000px;
}

h1, p, h2{
    color: white;
}

p{
    text-align: left;
}

#front_icon{
    width: 130px;
    height: 100px;
}